.account {
  margin-top: 4em;
  margin-bottom: 4em;
}

.account .row {
  margin-bottom: 1em;
}

.account form > .form-group {
  margin-bottom: 2.6em;
}

.account .account-test-failed {
  color: red;
}

.account .account-test > div {
  align-self: baseline;
}
