.accounts {
  margin: 2em auto;
  max-width: 28em;
  align-content: center;
}

.accounts h2 {
  margin-bottom: 1em;
}

.accounts .col {
  align-self: center;
}

.accounts button {
  margin: 0.5em 1em;
}

.accounts .account-buttons {
  text-align: right;
}

.account-actions {
  margin-top: 1.5em;
  margin-left: 0;
}

.account-actions .btn {
  margin-right: 0.5em;
}
