.activity {
  max-width: initial;
}

.activity > .row {
  padding: 3em 0;
  padding-bottom: 0;
  box-sizing: border-box;
}

.activity > .row:first-child {
  padding-top: 4em;
}

.activity > .row > div {
  padding: 0 2em;
}
