.app.electron .sage-nav {
  padding: 1em;
}

.sage-nav {
  -webkit-app-region: drag;
}

.sage-logo {
  height: 1.5em;
  margin-right: 0.5em;
}

.sage-title {
  display: inline-flex;
  flex-direction: column;
}

.sage-title:hover .sage-name {
  transform: translateY(-0.1em);
}

.sage-title .sage-name {
  transition: 0.5s transform;
}

.sage-title:hover .sage-version {
  color: unset;
  max-width: 20em;
}

.sage-title .sage-version {
  align-self: baseline;
  position: absolute;
  font-size: 0.6em;
  color: #888;
  transform: translateY(2em);
  max-width: 4em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: color, max-width;
}

.sage-version.needs-update:after {
  content: "";
  display: block;
  float: right;
  margin-left: 0.25em;
  margin-top: 0.55em;

  width: 0.5em;
  height: 0.5em;
  border-radius: 1em;
  background-color: red;
}

.content > * {
  max-width: 40em;
  display: block;
  margin: 0 auto;
}

.advanced-settings:hover {
  text-decoration: none;
}

.advanced-settings button {
  color: #A00;
}

.advanced-settings:hover button {
  background-color: #A00;
  color: white;
}
