.sage-logo {
  height: 1.5em;
  margin-right: 0.25em;
}

.app > * {
  max-width: 40em;
  display: block;
  margin: 0 auto;
}

.advanced-settings:hover {
  text-decoration: none;
}

.advanced-settings button {
  color: #A00;
}

.advanced-settings:hover button {
  background-color: #A00;
  color: white;
}
