.balances {
  margin: 0 auto;
  max-width: 40em;
}

.balances tr {
  vertical-align: top;
}

.balances tr:first-child {
  height: 2em;
}

.balances th {
  border-top: none;
}

.balances th:nth-child(2) {
  text-align: right;
}

.balances td:nth-child(2) {
  text-align: right;
  padding-left: 2em;
}

.balances .account-revenue, .balances .account-assets {
  font-weight: 600;
}

.balances .balance-warning {
  text-align: right;
  width: 8em;
}

.balances-warning-overlay ul {
  list-style: none;
  padding: 0;
}

.balances .balance-cash {
  color: #009900;
}
