.balances {
  margin: 1em auto;
  max-width: 25em;
}

.balances tr {
  vertical-align: top;
}

.balances tr:first-child {
  height: 2em;
}

.balances th:nth-child(2) {
  text-align: right;
}

.balances td:nth-child(2) {
  text-align: right;
  padding-left: 2em;
}

.balances .account-revenue, .balances .account-assets {
  font-weight: 600;
}
