.categories {
  /* the table */
  max-width: 50em;
  margin: 0 auto;
  margin-top: 3em;
}

.categories .badge {
  font-size: 1em;
  margin: 0.25em;
}

.categories .categories-category span, .categories .categories-category .badge {
  display: inline-block; /* fix problem where spans weren't separated by spaces to be considered separate blocks */
  text-transform: capitalize;
}

.categories .categories-category .badge {
  margin-right: 1em;
}

.categories .account-uncategorized {
  font-style: italic;
}

.categories .categories-small-width {
  width: 4.7em;
}

.categories .account-non-standard {
  color: red;
}
