.expenses {
  margin: 1em;
  height: 25em;
  min-height: 0;
}

.expenses .amount-tooltip {
  font-size: 0.95em;
  box-sizing: border-box;
  background-color: #FCFCFC;
  padding: 0.5em 1.5em;
  border: 1px solid #EEE;
  border-radius: 0.25em;
}

.expenses .amount-tooltip ul {
  list-style: none;
  padding-left: 0;
}

.expenses .amount-tooltip ul li {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.expenses .amount-tooltip .label {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.25em;
  margin-bottom: 0.5em;
  margin-left: 2em;
}

.expenses .amount-tooltip .account-name {
  order: 1;
}

.expenses .amount-tooltip .entry:after {
  content: "";
  flex-grow: 1;
  order: 2;

  min-width: 0.85em;
  margin: 0 0.3em;
  background-image: radial-gradient(circle, currentcolor 1px, transparent 1px);
  background-position-y: bottom;
  background-size: 1ex 3px;
  background-repeat: repeat-x;
  height: 1em;
}

.expenses .amount-tooltip .amount {
  order: 3;
}

.expenses .amount-tooltip .group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.25em;
}

.expenses .amount-tooltip .missing {
  color: #888;
}

.no-expenses {
  margin-bottom: 2em;
  text-align: center;
}
