.sync {
  margin: 0 0.25em;
}

.sync.sync-failed .sync-title {
  padding-right: 0.3em;
}

.sync .sync-info {
  padding-left: 0.5em;
}

.sync-error {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.sync-errors .card {
  margin: 1em 0;
}

.sync-errors .card .list-group-item {
  margin-bottom: 1em;
}

.sync-record-time {
  position: absolute;
  right: 0;
  padding: 0.1em 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  font-size: 0.85em;
  font-weight: 600;
  color: #DDD;
  background-color: rgba(20, 20, 20, 0.7);
}
