.edit-rule-btn.btn-link {
  font-size: 0.8em;
}

.transaction .category .uncategorized {
  font-style: italic;
}

.transaction .postings {
  box-sizing: border-box;
  padding: 0 2em;
  table-layout: fixed;
}

.transaction .postings tr {
  vertical-align: top;
}

.transaction .postings-name {
  width: 50%;
}

.transaction .postings-amount {
  text-align: right;
}

.transaction .postings td {
  padding: 0.3em 0.5em;
}
