.transactions {
  margin: 1em;
}

.transactions .transactions-large-width {
  width: 50%;
}

.transactions .transactions-no-wrap {
  width: 1px;
  white-space: nowrap;
}

.transactions .category {
  text-transform: capitalize;
}

.transactions .category.uncategorized {
  font-style: italic;
}

.transactions .postings {
  margin: 0 2em;
  width: 40em;
}

.transactions .postings tr {
  vertical-align: top;
}

.transactions .postings td:nth-child(1) {
  width: 30em;
}

.transactions .postings th:nth-child(2) {
  text-align: right;
}

.transactions .postings td:nth-child(2) {
  text-align: right;
  padding-left: 2em;
}

.transactions .search {
  width: 25em;
}
