.transactions .transactions-large-width {
  width: 49%;
}

.transactions .transactions-date {
  font-weight: 300;
}

.transactions .transaction.amount.amount-positive {
  color: #009900;
}

.transactions .search {
  width: 25em;
}
